body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #8E24AA, #6A1B9A);
    background-attachment: fixed;
} 

.navbar {
    background-color: #6A1B9A; /* Couleur de fond de la barre de navigation */
    color: #ffffff; /* Couleur du texte */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    flex-direction: row;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #D1C4E9; /* Couleur du texte au survol */
}

.content {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page {
    margin:5px;
}